input, textarea, select, option{
	color: $form-c;
	background: $form-bgc;
	border-color: $form-bdc;
	outline: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

input,
textarea{
	@include placeholder($placeholderColor);
	border: 1px solid $form-bdc;
}

button {
	width: auto;
	overflow: visible;
}